{% extends "layout.html" %} {% block title %} user_confirm {% endblock %}
{% block main %}
<div class="box15 underline" style="margin-left: auto; margin-right: auto; text-align: center; height: auto !important;">
    <div class="head12" style="vertical-align: middle;">รับค่าเบี้ยประกันเรียบร้อย</div>
    <div class="head12" style="vertical-align: middle; margin-top: -17px;">แล้วค่ะ</div>
</div>
<hr class="spliter1">
<div class="center" style="text-align: center; margin-top: 36px;">
    <div class="head3">กรมธรรม์จะถูกจัดส่งถึงคุณภายใน3วัน</div>
    <div class="head10" style="margin-top: 2px;">หากการจัดส่งล่าช้าหรือเกิดเหตุผิดพลาดใดๆ</div>
    <div class="head10" style="margin-top: -2px;">
        <span>สามารถติดต่อหา</span>
        <span><a href="https://lin.ee/KdTHOYK" style="color: #ABC120;" class="underline" >พี่เมี่ยง</a></span>
        <span>ได้ทันทีเลยนะคะ</span>
    </div>
</div>
<div class="center" style="text-align: center; margin-top: 120px; margin-bottom: 15px;">
    <button type="button" class="btn color-custom formbox9 head5 rounded2" style="margin-bottom: 15px;" onclick="returnmain()">กลับหน้าหลัก</button>
</div>
{% endblock %}